extends layout

block content
  h1 New Book
  form(action = "/books", method = 'post')
    if(errors)
    h2.errors Oooops!
    ul.errors
      each error in errors
        li= error.message
    include form